{
  {# "bootstrap": false, #}
  {# "bind_addr": "{{ ansible_ssh_host }}", #}
  "bind_addr": "{{ bind_ip }}",
  "client_addr": "0.0.0.0",
  "datacenter": "{{ consul_dc_name }}",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ consul_node_name }}",
  "telemetry": {
    "statsite_address": "127.0.0.1:2180"
  },
  "retry_join": [
    {% for node in nodes %}
			{{ node }}
    {% endfor %}
  ]
}
