server {
        listen 80;
        listen [::]:80;

        index index.php index.html;

        server_name localhost;
        root /var/www/acm/public;

        location / {
                try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
                fastcgi_split_path_info  ^(.+\.php)(/.+)$;

                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/run/php/php7.1-fpm.sock;
        }

        location ~ /\.ht {
                deny all;
        }
}