{
  "bootstrap": true,
  {# "bind_addr": "{{ ansible_ssh_host }}", #}
  "bind_addr": "{{ bind_ip }}",
  "client": "0.0.0.0",
  "datacenter": "{{ consul_dc_name }}",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ hostvars[inventory_hostname].group_names[0] }}",
  "server": true,
  "bootstrap_expect": 1,
  "telemetry": {
     "statsite_address": "127.0.0.1:2180"
  }
}
